{% extends 'posts/base.html' %}

{% block title %}Bem-vindo ao Meu Blog{% endblock %}

{% block content %}
    <h1>Bem-vindo ao Meu Blog</h1>
    {% for post in posts %}
        <div class="post-preview">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p class="post-meta">Por: {{ post.author.username }} em {{ post.created_at|date:"d M Y" }}</p>
            <p>{{ post.content|truncatewords:40 }}</p>
        </div>
    {% endfor %}
{% endblock %}