{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="icon" type="image/png" href="{% static 'posts/img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="{% url 'post_list' %}" style="color: white; text-decoration: none; font-size: 1.5em; font-weight: bold;">Meu Blog</a>
        <ul class="nav-links">
            <li><a href="{% url 'post_list' %}">Página Inicial</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>

<div class="container">
    <h1>Bem-vindo ao Meu Blog</h1>
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p><strong>Por:</strong> {{ post.author.username }} em {{ post.created_at|date:"d M Y" }}</p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </div>
    {% endfor %}
</div>

<script>
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    hamburger.addEventListener('click', () => {
        navLinks.classList.toggle('nav-active');
    });
</script>

</body>
</html>