{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'posts/img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
    <title>Meu Blog</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'post_list' %}">Página Inicial</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</header>
    <h1>Bem-vindo ao Meu Blog</h1>

    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p><strong>Por:</strong> {{ post.author.username }} em {{ post.created_at|date:"d M Y" }}</p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </div>
    {% endfor %}

</body>
</html>